<!DOCTYPE html>
<html>
  <head>
    <title>Ninja Alert</title>
    <style>
      body {
        background: skyblue;
      }
      h1 {
        color: white;
      }
      p {
        color: orange;
      }
    </style>
  </head>

  <body>
    <%- include('partials/nav.ejs'); %>
    <h1>Ninjas Everywhere</h1>
    <p>You don't contact us. We contact you.</p>
  </body>
</html>