<!DOCTYPE html>
<html>
  <head>
    <title>Ninja Alert</title>
    <link href="assets/styles.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <%- include('partials/nav.ejs'); %>
    <h1>Ninjas Everywhere</h1>
    <p>If you're looking for a ninja, your quest ends here...</p>
  </body>
</html>