<!DOCTYPE html>
<html>
  <head>
    <title>Ninja Alert</title>
    <style>
      body {
        background: skyblue;
      }
      h1 {
        color: white;
      }
      p {
        color: orange;
      }
    </style>
  </head>

  <body>
    <h1>Welcome to the profile of <%= person %></h1>
    <p>Age: <%=data.age%></p>
    <p>Job: <%=data.job%></p>
  </body>
</html>